name: Build & Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push producer image
        uses: docker/build-push-action@v5
        with:
          context: ./producer-service
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/producer-service:latest

      - name: Build & push consumer image
        uses: docker/build-push-action@v5
        with:
          context: ./consumer-service
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/consumer-service:latest
